body{
    background-color: rgb(187, 76, 76);
}
.container{
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 60%;
    position:absolute;
    left: 50%;
    top:50%;
    margin-left: -18%;
    margin-top: -13%;
    text-align: center;
   
}

.digit{
    font-family:serif;
    color: black;
    font-size: 100px;
    font-weight: bold;
}
.txt{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
 
.buttons{
    text-align: center;
    margin-top: 60px;
    
}
button{
    border: none;
    background-color: rgb(252, 243, 240);
    color:black;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px;
    cursor: pointer;
    height: 50px;
    width: 80px;
    
    
}

h1{
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    font-weight: bold;
}

button:hover{
    box-shadow: 0 0 10px black;
    background-color: rgb(187, 76, 76);

}

button:active{
    height: 40px;
    width: 70px;

}